# Object file
*.o

# Ada Library Information
*.ali


### VS Code ###
.vscode/


### IntelliJ IDEA ###
.idea/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache